@use "colors" as *;

:root.dark {
  --bg-color: hsl(235, 21%, 11%);
  --text-color: hsl(234, 39%, 85%);
  --color-theme: dark;
  --primary-card-bg: #{$very-dark-desaturated-blue};
  --default-checked-border: hsl(233, 14%, 35%);
  --default-line-trough: hsl(235, 16%, 43%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

ul {
  list-style: none;
}