:root {
  --black: hsl(237, 100%, 4%);
  --white: rgb(255, 255, 255);

  --blue: hsl(192, 100%, 67%);
  --orange: hsl(14, 83%, 74%);
  --purple: hsl(280, 87%, 65%);
  --red: hsl(0, 67%, 53%);

  --dark-grey: hsl(235, 12%, 19%);
  --medium-grey: hsl(216, 15%, 57%);

  --very-dark-grey-dark-bg: hsl(235, 16%, 15%);
  --light-grey-light-bg: hsl(218, 73%, 97%);

  --lines-dark: hsl(236, 11%, 27%);
  --lines-light: hsl(221, 69%, 94%);

  --todo-done-bg: linear-gradient(135deg, var(--blue) 0%, var(--purple) 100%);

  /* Theme */
  --accent-bg: var(--white);
  --default-bg: var(--light-grey-light-bg);
  --line-accent: var(--lines-light);
  --logo-headline-txt-color: var(--black);
  --text-color: var(--black);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;
}

html.light {
  color-scheme: light;
}

html.dark {
  --accent-bg: var(--dark-grey);
  --default-bg: var(--very-dark-grey-dark-bg);
  --logo-headline-txt-color: var(--white);
  --line-accent: var(--lines-dark);
  --text-color: var(--white);
  color-scheme: dark;
}

body {
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--default-bg);
}

ul {
  list-style: none;
}
