@use '../../styles/colors' as *;

.card {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2.3rem 1.6rem;
  border-radius: 0.8rem;
  background-color: var(--accent-bg);
  text-transform: capitalize;

  .checkedIcon {
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: 1px solid var(--line-accent);
    display: grid;
    height: 20px;
    place-content: center;
    width: 20px;
    
    img {
      display: none;
      width: 8px;
      height: 5px;
    }

    &.done {
      background-image: var(--todo-done-bg);

      img {
        display: block;
      }
    }
  }

  .title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;

    &.isChecked {
      text-decoration: line-through;
      color: var(--default-line-trough);
    }
  }
}
