.card {
  align-items: center;
  background-color: var(--accent-bg);
  border-radius: 0.8rem;
  display: flex;
  gap: 1rem;
  padding: 2.3rem 1.6rem;
  text-transform: capitalize;
  border: 1px solid var(--line-accent);

  .checkedIcon {
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: 1px solid var(--line-accent);
    display: grid;
    height: 20px;
    place-content: center;
    width: 20px;

    img {
      display: none;
      width: 8px;
      height: 5px;
    }

    &.done {
      background-image: var(--todo-done-bg);

      img {
        display: block;
      }
    }
  }

  .titleWrapper {
    border: none;
    outline: none;
    width: fit-content;

    .title {
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: -0.166667px;
      border: none;
      background-color: var(--accent-bg);
      pointer-events: none;

      &.isEdit {
        pointer-events: all;
        outline: none;
        border-bottom: 1px solid currentColor;
        padding-bottom: 1px;
      }

      &.lineThrough {
        text-decoration: line-through;
        opacity: 0.5;
      }

      &.error {
        color: var(--red);

        &::placeholder {
          color: currentColor;
        }
      }

      &:focus,
      &:active,
      &:read-only {
        outline: none;
      }
    }
  }

  .ctaGroup {
    margin-left: auto;
    display: flex;
    align-items: center;

    .cta {
      border-radius: 0.4rem;
      border: none;
      display: grid;
      height: calc(2.4rem);
      place-content: center;
      width: calc(2.4rem);
      background-color: transparent;
      transition: background-color 0.3s ease-out;

      .icon {
        width: 1.2rem;
        height: 1.2rem;
        fill: currentColor;
        opacity: 0.8;
      }

      &:hover {
        background-color: rgba(111, 110, 110, 0.5);
        cursor: pointer;
      }
    }
  }
}
