.card {
  align-items: center;
  background-color: var(--accent-bg);
  border-radius: 0.8rem;
  display: flex;
  gap: 1rem;
  padding: 2.3rem 1.6rem;
  text-transform: capitalize;
  border: 1px solid var(--line-accent);

  .checkedIcon {
    background-color: var(--accent-bg);
    border-radius: 100%;
    border: 1px solid var(--line-accent);
    display: grid;
    height: 20px;
    place-content: center;
    width: 20px;

    img {
      display: none;
      width: 8px;
      height: 5px;
    }

    &.done {
      background-image: var(--todo-done-bg);

      img {
        display: block;
      }
    }
  }

  .title {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.166667px;

    &.lineThrough {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  .crossIcon {
    margin-left: auto;
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;

    &:hover {
      cursor: pointer;
    }
  }
}
